
body {
	background-color: #963dc6; /* Soft purple-pink color */
	color: #333; /* Adjust text color if needed */
	font-family: 'Arial, sans-serif';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
